@import './src/variables'

.button__common
  padding: 0 28px
  color: white
  font-size: 14px
  height: 42px
  font-family: $theme-font
  font-weight: $theme-font-bold
  cursor: pointer
  transition: background-color .2s linear, color .1s linear

.button[appearance='primary']
  background-color: transparent
  border: 3px white solid


.button[appearance='primary']:hover
  background-color: white
  color: $theme-third-color

.button[appearance='primary']:active
  color: $theme-secondary-color

.button[appearance='secondary']
  background-color: $theme-primary-color
  border: none

.button[appearance='secondary']:hover
  background-color: $theme-third-color
  box-shadow: rgb(0 0 0 / 10%) 0 0 8px 0

.button[appearance='secondary']:active
  color: $theme-secondary-color
