@import './src/variables'

.card
  position: relative
  margin-right: 30px
  margin-bottom: 30px

.image-wrapper
  position: relative

.image-wrapper__element
  position: absolute
  top: 0
  left: 0
  transition: left, top .05s linear

.image-wrapper__element--image
  height: 472px
  width: 380px

.image-wrapper__element--bg
  height: 472px
  width: 380px
  background-color: $theme-primary-color
  z-index: -1

.image-wrapper__element--mask
  height: 472px
  width: 380px
  background: linear-gradient(180deg, rgba(232,129,129,1) 0%, rgba(241,218,138,1) 100%)
  visibility: hidden
  opacity: 0.9

.image-wrapper__element--block
  height: 472px
  width: 380px
  margin-bottom: 30px

.image-wrapper:hover .image-wrapper__element--image
  left: -10px
  top: -10px

.image-wrapper:hover .image-wrapper__element--mask
  left: -10px
  top: -10px
  visibility: visible

.image-wrapper:hover .social-media-wrapper--links
  visibility: visible

.card--role
  color: #999999
  font-style: italic

.social-media-wrapper--links
  position: absolute
  top: calc(50% - 10px)
  left: calc(50% - 10px)
  transform: translate(-50%, -50%)
  visibility: hidden
  z-index: 1